* {	margin:0;
	padding:0;
}

/* General Style Info */
body {
    margin:0px;
	padding:0px;
	background:url("/img/backgrounds/background-wood.jpg") no-repeat scroll center top #000000;
	/* background:url("/img/backgrounds/background-digital.jpg") no-repeat scroll center top #3B3B3B; */
	font: 14px/18px Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #333333;
}

a {	
    text-decoration: underline;
	/*
	color: #408CD9;
	*/
	color: #D00000;
}

a:hover {
    text-decoration: none;
    background-color: #D00000;
    color: #FFFFFF;
}

a img { 
    border:none;
}

p { 
    padding:0;
	padding-bottom:10px;
	margin:5px 0 18px;
}

h1, h2, h3, h4 { 
    font-weight: normal;
}

h1 {
    font-size: 40px;
	line-height:45px;
	font-weight: bold;
}
h2 { 
	font-size: 190%;
	margin: 0.3em 0;
    padding-top: 0.8em;
}
h3 {
    color: #333;
	font-size: 165%;
	padding-top: 1.5em;
	padding-bottom: 20px;
}

h4 { 
    color: #993;
	font-weight: normal;
	padding-top: 0.5em;
}

ul, li { 
    margin: 0px;
}

.weak { 
    font-size: 85%;
	color: #999;
}

p.weak { 
    padding: 0px;
	margin: 0px;
}

.clear { 
    clear: both;
}

img {
    border:0px;
}

br {
    clear: left;
}


/* Layout */
#container {
    -webkit-border-radius: 2px;
    -moz-border-radius:2px;
    background-color:#FFFFFF;
    border:1px solid #FFFFFF;
    color:#444444;
    font-family:Helvetica,Arial,sans-serif;
    height:auto;
    line-height:150%;
    margin:10px auto;
    width:1000px;
}


#header{ 
    background:url("/img/header-background.png") no-repeat scroll 0 0 transparent;
    height:80px;
    margin:0;
    overflow:auto;
    padding:10px 30px 0;
}

#content{
    clear:both;
	margin:0 0px;
	padding: 0 30px;
	overflow: auto;
}

#skipnav{ 
    display: none;
}
#main {
    float: left;
    width: 660px;
    margin: 0 20px 0 0;
}

#sidebar{
    float: left;
    width: 250px;
}

/* Header */
#logo {
    float:left;
    width:372px;
}

#intro {
    color:#666666;
    float:left;
    font-size:14px;
    margin:22px 0 0 40px;
}

#intro strong {
    color: #CC0000;
}

#intro p {
    padding: 0;
    margin: 0;
}


/* Nav */
#nav {
    background-image:url("../img/nav-bar.png");
    background-position:center top;
    background-repeat:no-repeat;
    clear:both;
    display:block;
    height:39px;
    margin:0 auto;
    padding:1px 0 0 0;
    position:relative;
    width:960px;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    background-image:url("../img/nav-separator.png");
    background-position:right top;
    background-repeat:no-repeat;
    display:block;
    float:left;
    margin:0;
    width:auto;
}

#nav h2 {
    display: none;
}

#nav a, #nav a:focus, #nav a:visited {
	display:block;
	padding:10px 20px 8px;
	height:100%;
	color:#FFFFFF;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	line-height: 15px;
}

#nav a:hover, #nav a#nav-active {
    background: url("../img/nav-item-bg.png") repeat-x scroll left bottom transparent;
}



/* Content */

/* Footer */
#footer {
    background:none repeat scroll 0 0 #FFFFFF;
    border-top:1px solid #F4F4F4;
    clear:both;
    color:#BBBBBB;
    font-size:13px;
    height:34px;
    margin:0 auto;
    padding:15px 0;
    width:95%;
}

#footer-links { 
	margin:0 auto;
	text-align:center;
	width:500px;
	padding-top:15px;

}

#footer-links li {
	display: inline;
	padding-left:30px;

} 

#footer-links h2 { 
	display: none;
	
}

#footer-copyright { 
	float:left;

}

/* Tables */
table {
	background: #fff;
	border:1px solid #ccc;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;

}
td {
	font-size: 12px;

}
th {
	background:none repeat scroll 0 0 #F2F2F2;
	border-color:#FFFFFF #BBBBBB #BBBBBB #FFFFFF;
	border-right:1px solid #BBBBBB;
	border-style:solid;
	border-width:1px;
	text-align:center;
	font-size: 11px;
	
}
th a {
	background:#f2f2f2;
	display: block;
	padding: 2px 4px;
	text-decoration: none;

}
th a:hover {
	background: #ccc;
	color: #333;
	text-decoration: none;

}
table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;

}
table tr.altrow td {
	background: #f4f4f4;

}
td.actions {
	text-align: center;
	white-space: nowrap;

}
td.actions a {
	margin: 0px 6px;

}
.cake-sql-log table {
	background: #f4f4f4;

}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;

}

/* Paging */
.paging {float: right;}

.paging a { 
    border:1px solid #BB0000;
    color:#BB0000;
    font-size:12px;
    font-weight:normal;
    margin:0 2px;
    padding:3px 8px;
    text-decoration:none;
}

.paging a.selec { background-color:#BB0000; color: #FFF; }

.paging a:hover { background-color:#BB0000; color: #FFF; }


div.paging {
    color: #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
}

div.paging div.disabled { color: #ddd;
	display: none;
}

div.paging span {}
div.paging span a {}

div.paging span.current {
    background:none repeat scroll 0 0 #BB0000;
    border:1px solid #BB0000;
    color:#FFFFFF;
    font-size:12px;
    font-weight:bold;
    margin:2px;
    padding:3px 8px;
}






/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;

}
dl .altrow {
	background: #f4f4f4;

}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;

}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;

}

/* Forms */
form {
	margin-right: 20px;
	padding: 0;
	width: 80%;

}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;

}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;

}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;

}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;

}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;

}
form div { vertical-align: text-top;
}
form div.input {
	color: #444;

}
form div.required {
	color: #333;
	font-weight: bold;

}
form div.submit { border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;

}
input, textarea { padding: 2px;
}
select {
	/*
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
	*/
}
select[multiple=multiple] {
	width: 100%;

}
option {
	font-size: 120%;
	padding: 0 3px;

}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;

}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;

}
div.radio label {
	margin: 0 0 6px 20px;

}
input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;

}

/* Notices and Errors */
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;

}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;

}
p.error {
	background:none repeat scroll 0 0 #C50D1A;
	border:1px solid #B00B17;
	margin:20px 13px;
	padding:5px 20px;
	color: #fff;
	font-size: 120%;
	line-height: 140%;
	
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;

}

#flashMessage.notice {
    background: #FFFFDD;
	border:1px solid #EEEECC;
	clear: both;
	color: #FFF;
}

#flashMessage.error {
    background:none repeat scroll 0 0 #C50D1A;
	border:1px solid #B00B17;
	clear: both;
	color: #FFF;
}

#flashMessage.success { 
    background: #5A9922;
	border:1px solid #50891E;
	clear:both;
	color: #FFF;
}

.notice {
	background: #FFFFDD;
	border:1px solid #EEEECC;
	color: #333;
	display: block;
	padding: 0.8em;
	margin: 1em 0;
	clear: both;

}
.success {
	/*
	background:none repeat scroll 0 0 #DBF49F;
	border:1px solid #B1E13F;
	*/
	background:none repeat scroll 0 0 #5A9922;
	border:1px solid #50891E;
	margin:20px 13px;
	padding:20px;
	color: #FFFFFF;

}


#flashMessage { width:70%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
}
#flashMessage ul { list-style: none;
}

/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;

}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;

}
div.actions ul li a {
	background:#fff;
	color: #003d4c;
	text-decoration: none;

}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;

}

/* Related */
div.related {
	clear: both;
	display: block;

}

/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;

}
pre.cake-debug {
	background: #FFFFDD;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;

}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;

}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;

}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;

}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;

}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;

}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;

}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;

}
div.code-coverage-results div.covered span.content {
	background:#cec;

}
div.code-coverage-results div.ignored span.content {
	color:#aaa;

}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;

}
div.code-coverage-results span.line-num strong {
	color:#666;

}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;

}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;

}
div.code-coverage-results div.realstart {
	margin-top:0px;

}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;

}
div.code-coverage-results span.result-bad {
	color: #a00;

}
div.code-coverage-results span.result-ok {
	color: #fa0;

}
div.code-coverage-results span.result-good {
	color: #0a0;

}

/* Sidebar */
#share {
    overflow: auto;
}

#share .tweet-button {
    display:block;
    float:left;
}

#share .facebook-button {
    display:block;
    float:left;
}

#findAdventure {}

.operatorSignup {
    background:url("/img/empty_box_greypointer.png") no-repeat scroll 0 0 #FFFFFF;
    color:#444444;
    display:block;
    font-size:11px;
    height:89px;
    margin:10px 0;
    padding:10px;
    text-align:left;
    text-decoration:none;
    width:230px;
}

.operatorSignup:hover {
    background:url("/img/empty_box_redpointer.png") no-repeat scroll 0 0 #FFFFFF;
}

.operatorSignup h3 {
    color:#000000;
    font-size:14px;
    font-weight:bold;
    text-decoration:underline;
    padding: 0;
}

.operatorSignup p {
    font-size:11px;
    line-height:18px;
    margin:0;
    padding:0;
}

.adsSidebar {
    
}

/* Home page */
#welcome {}

#welcome h1 {
    color:#333333;
    font-size:23px;
    font-weight:bold;
    margin-top:10px;
    text-transform:uppercase;
}

#welcome p {
    color:#666666;
    font-size:13px;
    line-height:130%;
    margin:0;
}

.notice { 
    clear:both;
    color:#333333;
    font-weight:normal;
    margin:10px 0;
    padding:10px 20px;
}

.adHomeBanner {
    margin:20px auto;
}

#home .activityTypes.index {
    background-color:#F1F1F1;
    overflow:auto;
    padding:10px;
}

#home .activityTypes.index ul#activityList {
    margin: 0 0 0 10px;
}

#home .activityTypes.index h2 {
    font-size:20px;
    padding-top:0;
}

#home .activityTypes.index li {
    font-size:14px;
    padding:0;
}


/* Activities Index page */
.activityTypes.index {}

.activityTypes.index .activityList {}

.activityTypes.index ul.activityList { 
    float: left;
	list-style: none;
	margin:0;
	padding:0;
}

.activityTypes.index ul.activityList li {
    clear:both;
    font-size:16px;
    padding:6px 0;
    width:205px;
} 

.activityTypes.index ul.activityList a {
    text-decoration: none;
}

.activityTypes.index ul.activityList li .weak {
    color: #AAAAAA;
    font-size: 10px;
    padding-left:5px;
}

.activityTypes.index ul.activityList a:hover {}


/* Countries Index page */
.countries.index {}

.countries.index .countryList {}

.countries.index ul.countryList { 
    float: left;
	list-style: none;
	margin:0;
	padding:0;
}

.countries.index ul.countryList li {
    clear:both;
    font-size:14px;
    padding:0 0;
    width:205px;
} 

.countries.index ul.countryList a {
    text-decoration: none;
}

.countries.index ul.countryList li .weak {
    color: #AAAAAA;
    font-size: 10px;
    padding-left:5px;
}

.countries.index ul.countryList a:hover {}


/* Operators Index page */
.operators.index {
	padding-top:10px;
}

.operators.index h1 {
    border-bottom:2px solid #DDDDDD;
    font-size:40px;
    line-height:40px;
    margin:20px 0;
    padding:0 10px 13px;
}

#operatorList {
    clear: both;
}

#operatorList ul{
    list-style:none;
}

#operatorList ul li{
    padding:20px 5px 7px;
}

#operatorList ul li:hover{
    background-color:#F4F4F4;
}

#operatorList ul li h3 {
    font-size: 16px;
    padding: 0
}

#operatorList ul li a{
    color:#D00000;
    font-size:16px;
    text-decoration:none;
}

#operatorList ul li a:hover{
    color:#FFF;
    text-decoration:none;
}

#operatorList ul li.kumutu {
    background:none repeat scroll 0 0 #FFFFDD;
    border:1px solid #EEEECC;
    margin-bottom:10px;
    padding:10px 5px;
}

#operatorList ul li.kumutu h3 a {
    font-size: 20px;
}


#operatorList ul li.kumutu .location {
    color: #666666;
}


#operatorList ul li.prospects h3 a {
    color:#525252;
    font-size:13px;
}

#operatorList ul li.prospects h3 a:hover {
    background-color: #525252;
    color: #FFFFFF;
}

#operatorList ul li.prospects .location {
    color:#888888;
    font-size:10px;
}

#operatorList ul li.prospects .description {
    color:#BBBBBB;
    font-size:11px;
}

#operatorList div.trusted {
    background-color: #FFF;
    border:1px solid green;
    color:green;
    display:block;
    font-size:11px;
    line-height:15px;
    margin-top:5px;
    text-align:center;
    width:92px;
}


.filter {
    background:none repeat scroll 0 0 #F4F4F4;
    border:1px solid #DDDDDD;
    clear:both;
    font-weight:normal;
    margin:10px 0;
    padding:10px 20px;
}

.filter h4 { 
	margin:0;
}

.filter #OperatorAddForm {
    height:90px;
    overflow:auto;
    width:100%;
}

.filter .input.field {
    float:left;
}

.filter .input.q {
    float: left;
    padding-left:10px;
}

.filter .input.country {
    clear:both;
    float:left;
    padding-top:3px;
}

.filter .input.activityType {
    float:left;
    padding-left:10px;
    padding-top:5px;
}

.filter .submit {
    float: left;
}



.country {
    color:#AAAAAA;
	font-size:20px;
	line-height:22px;
}

.description { 
    color:#AAAAAA;
    font-size:13px;
    line-height:13px;
}

.location { color:#AAA;
	font-size:11px;
	line-height:13px;
}


/* Operview view page */
.operators.view {
    margin-top:50px;
}

.operators.view h1 {}

.operators.view h2 {
    color:#CCCCCC;
    font-size:12px;
    line-height:14px;
    margin:0;
    padding:20px 0 0;
}
.operators.view p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.operators.view div.trusted {
    border:1px solid green;
    color:green;
    display:block;
    font-size:12px;
    line-height:21px;
    text-align:center;
    width:100px;
}

img#captcha { margin-bottom: 5px;
}

.banners { margin: 0 auto;
	width:850px;
}

.banners .notice {width: 593px;
}

.banners .notice p {padding: 10px;
	margin:0px;
}

.ads-banner { padding-top: 10px;
}

/* Information Request Form */
.operators.view .request {
    background-color:#FFFFFF;
    border:10px solid #ECF8FE;
    margin:30px 0;
    width:595px;
}

.operators.view .request h2 { 
background-color:#ECF8FE;
color: #0073C2;
	margin:-10px -10px 0;
	padding:15px 10px;
	font-size:20px;
}

.operators.view .request #RequestAddForm{
    padding:5px 20px;
}

.request span { color: #FF2020;
}
.request label { font-size:12px;
	font-weight:bold;
	height:auto;
	padding:10px 0 5px;
}
.request .checkbox label { display: inline;
}
.request .checkbox { clear: both;
	margin:12px 0 0;
}
.request textarea {}
.request .textarea {}
.request .submit { margin-top: 20px;
}
.recaptcha {margin-top: 20px;
}

/* Ajax loading */
#loading { 
	float:left;
	background-color:#FFFFFF;
	border:1px solid #C8EBFE;
	color:#0073C2;
	font-size:30px;
	text-align:center;
	margin:10px 0;
	padding:60px 0;
	position:fixed;
	top:200px;
	width:620px;
	background:#FFFFFF url(/img/ajax-mini-loader.gif) no-repeat scroll 130px center;


}

/* Terms of Use */
div#terms { 
	font-size:11px;
}

ol#terms, ol#terms ol.subitems, ol#terms ul { 
	margin-left:5px;
	padding-left:25px;
}
 
ol#terms li { 
	margin:10px 0;
}
 
ol#terms ol.subitems li { 
	list-style-type:lower-latin;
}
 
ol#terms ol.subitems ul li { 
	list-style-type:disc;
}


/* Sidebar */
.friendsConnect {}

.friendsConnect h2 { 
    color:#0073C2; 
    font-size:15px;
    margin:0 0 0 5px; 
    text-align:left;
}



/* Debugging */
#debug {
	background: #FFFFDD;
	border: 1px solid #EEEECC;
}

pre.cake-debug {
	background: #FFFFDD;
	font-size: 120%;
	line-height: 140%
	
}



/*
 *
 *
 *
 *
 * DEPRECIATED  - remove all styles from next section
 *
 *
 *
 *
 *
 *
 *
 */
  
.content_left_panel p {
    margin: 0px;
	font-size: 16px;
}
.content_title {float:left;
	width:605px;
	height:auto;
	font-family:Calibri;
	font-size: 20px;
	color:#0073c2;
	margin-top: 5px;
	padding-left:0px;
	padding-bottom:5px;
}
.content_bg {float:left;
	width:730px;
	height:auto;
	 margin-bottom:10px;
	margin-top:10px;
}
.content_tumb {float:left;
	width:635px;
	height:auto;
	padding:10px 0px 10px 0px;
}
.content_link {color:#0e5c9a;
}
.content_link a {text-decoration:none;
	color:#0e5c9a;
	padding: 5px;
}
.content_link a:hover {text-decoration:underline;
	color:#0e5c9a;
}
.content_link span {padding:0px 5px 0px 5px;
}
.content_link a span  {background-color:#b7e4fa;
	padding:0px 5px 0px 5px;
}
.content_link a:hover span {background-color:#0574ad;
	color:#fff;
	padding:0px 5px 0px 5px;
}
.content_link .selec span {
	background-color:#0574ad;
	color:#fff;
}

/* sub page css */
.sub_po_bg ul {float:left; width:615px; height:auto; margin:0px; padding:0px;}
.sub_po_bg ul li {float:left; width:615px; height:auto; margin:0px; padding:10px 0px 10px 0px; list-style:none; font-size:13px; color:#000;}
.sub_po_bg ul li a {color:#ff2020; font-weight:bold; text-decoration:underline;}
.sub_po_bg ul li a:hover {color:#ff2020; font-weight:bold; text-decoration:none;}
.sub_po_bg ul li span{font-weight:bold; color:#006ec0;}

.con_text {float:left; width:595px; height:auto; font-size:12px;  padding:10px 0px 5px 0px; font-weight:bold;}
.con_text a{text-decoration:none; color:#F00;}
.con_text a:hover{text-decoration:underline; color:#F00;}
.con_text_norm {float:left; width:595px; font-weight:normal; color:#444444; height:auto; font-size:10px;  padding:2px 0px 5px 0px;}
.con_text span {color:#ff2020;}
.terms_text {float:left; width:595px; height:auto; font-size:12px;  padding:10px 0px 5px 0px;}
.terms_text a{text-decoration:none; color:#F00;}
.terms_text a:hover{text-decoration:underline; color:#F00;}
.setlink{border-right:1px dashed #7CB7DB;margin-right:10px;width:205px;
padding-bottom:5px;background:transparent url(../images/nav_bg.png) no-repeat scroll left top;;padding-left:35px;text-decoration:none;color:#FFF;font-family:Verdana,Geneva,sans-serif;font-size:12px;}
/*.act_link {float:left; width:175px; height:15px; background:url(../images/nav_bg.png) no-repeat left top; text-decoration:none; color:#FFF; font-size:12px; padding:6px 0px 0px 30px;}*/

.act_link a {float:left; width:190px; height:15px; background:url(../images/nav_bg.png) no-repeat left top; text-decoration:none; color:#FFF; font-size:12px; padding:6px 0px 1px 30px;}
.act_link a:hover {float:left; width:175px; height:15px; background:url(../images/nav_bg.png) no-repeat left top; text-decoration:underline; color:#FFF;font-size:12px; padding:6px 0px 1px 30px;}


/*
 *
 *
 *
 *
 * END DEPRECIATED
 *
 *
 *
 *
 *
 *
 *
 */